* {
  border: 1px solid gold;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  border: solid gold 1px;
}


.nav {
  display: flex;
  margin-left: 50px;

}

.nav > h2 {
  margin: 0 15px 0 0;
}

.nav > button {
  height: 25px;
  margin-top: 5px;
}



.authenticate {
  padding: 20px;
}

.form-inputs {
  padding-right: 50px;
}

.new-post > form {
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



div {
  text-align: center;
}

.post-show {
  border: 1px solid green;
  padding: 20px;
}

.author {
  background-color: thistle;
  width: 100%;
}

.text {
  width: 90%;
  margin: 0 auto;
}

.image-link {
  margin: 20px;
  border: 7px solid ivory;
  border-radius: 15px;
}

button {
  border-radius: 5px;
}

.link-btn {
  text-decoration: none;
  background-color: buttonface;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  margin: 15px;
  border: solid 1px;
  cursor: pointer;
}

.buttons-container {
  margin-left: 20px;
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.likes {
  display: flex;
  justify-content: center;
}

.cute {
  width: 100px;
}

.angry {
  width: 125px;
  padding-bottom: 20px;
  margin-top: -17px;
}

.numbers {
  font-size: 40px;
  font-weight: bold;
}

.likes-only, .dislikes-only {
  margin: 0 20px;
}

.likes-only > p {
  color: green;
}

.dislikes-only > p {
  color: red;
}
