@import url('https://fonts.googleapis.com/css?family=Acme|Laila');

* {
  border: 1px solid gold;
  font-family: 'Laila', serif;
  color: grey;
}

html {
  background-color: ivory;
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(213, 184, 255, .5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  text-align: center;
}

.post-show {
  border: 1px solid green;
}

.author {
  background-color: pink;
}

.text {
  width: 90%;
  margin: 0 auto;
}

img {
  margin: 20px;
  border: 7px dotted ivory;
  border-radius: 15px;
}
